footer#footer.footer
	.main-container
		.footer__item.footer__item--1
			.layer
		.footer__item.footer__item--2
			.layer
		.footer__item.footer__item--3
			.layer
		.footer__cont
			.col-auto.footer__col-left
				select.footer__lang
					option Россия
					option Минськ
				.footer__copy-lang © 2018 Lookonica
			.col-auto.ml-auto.footer__col-right
				ul.socials
					li.socials__item
						a(href="").socials__link
							i.icon-tw
					li.socials__item
						a(href="").socials__link
							i.icon-fb
					li.socials__item
						a(href="").socials__link
							i.icon-in
				ul.footer__nav
					li.footer__nav-item
						a(href="").footer__nav-link Главная
					li.footer__nav-item
						a(href="").footer__nav-link Луки
					li.footer__nav-item
						a(href="").footer__nav-link Тренды
					li.footer__nav-item
						a(href="").footer__nav-link Блог
				ul.footer__nav
					li.footer__nav-item
						a(href="").footer__nav-link Связаться с нами
					li.footer__nav-item
						a(href="").footer__nav-link Условия предоставления услуг
				ul.footer__nav
					li.footer__nav-item
						a(href="").footer__nav-link Политика конфиденциальности



