#header.header
  .main-container
    .flex-row
      .col-auto.mr-auto
        a(href="index.html").header__logo LOOKONICA
      .col-auto
        .header__nav
          .header__nav-item
            a(href="#").header__nav-link.header__nav-link_active Главная
          .header__nav-item
            a(href="#").header__nav-link Луки
          .header__nav-item
            a(href="#").header__nav-link Тренды
          .header__nav-item
            a(href="#").header__nav-link Блог
        .header__lang
          .header__lang-ico.header__lang-ico_ru
          i.icon-arrow-down.header__lang-arrow
          .header__lang-dropdown
            ul.header__lang-list
              li.header__lang-item.active
                .header__lang-item-ico.header__lang-ico_ru
                |Россия
              li.header__lang-item
                .header__lang-item-ico.header__lang-ico_ru
                | Россия 2
              li.header__lang-item
                .header__lang-item-ico.header__lang-ico_ru
                | Россия 3
        a(href="#").header__menu-btn
          span
          span
          span