#how-it-works.how-it-works
	.how-it-works__title Как это работает?
	.how-it-works__inner
		.how-it-works__item.how-it-works__item_active
			.how-it-works__item-inner
				.how-it-works__box.how-it-works__box_1
				.how-it-works__box.how-it-works__box_2
				.how-it-works__box.how-it-works__box_3
				.how-it-works__box.how-it-works__box_4
				.how-it-works__box.how-it-works__box_5
				.how-it-works__icon.how-it-works__icon_1
				.how-it-works__text!="Выбери до двух вещей из нашего каталога, при необходимости укажи требуемые стили и сезоны"
		.how-it-works__item
			.how-it-works__item-inner
				.how-it-works__box.how-it-works__box_1
				.how-it-works__box.how-it-works__box_2
				.how-it-works__box.how-it-works__box_3
				.how-it-works__box.how-it-works__box_4
				.how-it-works__box.how-it-works__box_5
				.how-it-works__icon.how-it-works__icon_2
				.how-it-works__text!="Выбери образ, подобранный профессиональными дизайнерами, который содержит эту вещь"
		.how-it-works__item
			.how-it-works__item-inner
				.how-it-works__box.how-it-works__box_1
				.how-it-works__box.how-it-works__box_2
				.how-it-works__box.how-it-works__box_3
				.how-it-works__box.how-it-works__box_4
				.how-it-works__box.how-it-works__box_5
				.how-it-works__icon.how-it-works__icon_3
				.how-it-works__text Перейди в магазин наших парнеровв и купи вещи, которые дополнят образ с большими скидками








