#info-shop.info-shop
	.main-container
		.info-shop__inner
		.info-shop__layer.info-shop__layer_1
			.layer
		.info-shop__layer.info-shop__layer_2.parallax
			.layer(data-depth="0.2")
		.info-shop__layer.info-shop__layer_3.parallax
			.layer(data-depth="0.3")
		.info-shop__layer.info-shop__layer_4.parallax
			.layer(data-depth="0.4")
		.info-shop__layer.info-shop__layer_5
			.layer
				.info-shop__text-cont
					p Мы подбираем все образы только вручную с помощью профессиональных стилистов и специалистов fashion индустрии. Как для женщин так и для мужчин.
					p А благодаря нашим партнерам вы можете купить те вещи, которые вам приглянутся.
					.more-link-line-w.info-shop__text-link
						a(href="#").more-link-line Подробнее
		.info-shop__cont
			h3 Пару слов о нашей технологии
			.info-shop__list
				.info-shop__item
					.info-shop__item-num 51
					.info-shop__item-text магазин
				.info-shop__item
					.info-shop__item-num 17,895
					.info-shop__item-text единиц одежды
				.info-shop__item
					.info-shop__item-num 24
					.info-shop__item-text страны
			.info-shop__list
				.info-shop__item
					.info-shop__item-num 256
					.info-shop__item-text брендов