mixin mainFiltersListItem($icon,$name)
  .main-filters__list-item
    a(href="#").main-filters__list-link
      .main-filters__list-icon
        i(class=$icon)
      span.main-filters__list-text #{$name}
mixin mainFiltersSubListItem($img,$name,$active)
  .main-filters__sub-list-item
    a(href="#" class="main-filters__sub-list-link " + $active)
      .main-filters__sub-list-img
        img(src=$img alt="")
      span.main-filters__sub-list-text!=$name
mixin mainFiltersProduct($img,$name,$active)
  .main-filters__product
    a(href="#" class="main-filters__product-inner "+$active)
      span.main-filters__product-line.main-filters__product-line_up
      span.main-filters__product-line.main-filters__product-line_right
      span.main-filters__product-line.main-filters__product-line_down
      span.main-filters__product-line.main-filters__product-line_left
      .main-filters__product-img
        img(src=$img alt="pic")
      .main-filters__product-name=$name

#overlay-main-filters
.main-filters
  .main-filters__cont
    .main-filters__gender
      .main-filters__gender-item
        a(href="#").main-filters__gender-link.main-filters__gender-link_active м
      .main-filters__gender-item
        a(href="#").main-filters__gender-link ж
    .main-filters__add-item
      .main-filters__add-item-text Добавить вещь
      .main-filters__toggle-reset
    .main-filters__add-item
      .main-filters__add-item-text Добавить вещь
      .main-filters__toggle-reset
    .main-filters__check-item
      .main-filters__check-item-text Стиль
      .main-filters__toggle-reset
      .main-filters__check-dropdown
        ul.main-filters__check-list
          li.main-filters__check-list-item Спорт
          li.main-filters__check-list-item Кэжуал
          li.main-filters__check-list-item Смарт кэжуал
          li.main-filters__check-list-item Деловой стиль
    .main-filters__check-item.main-filters__check-item--mob
      .main-filters__check-item-text Сезон
      .main-filters__toggle-reset
      .main-filters__check-dropdown
        ul.main-filters__check-list
          li.main-filters__check-list-item Спорт
          li.main-filters__check-list-item Кэжуал
          li.main-filters__check-list-item Смарт кэжуал
          li.main-filters__check-list-item Деловой стиль
          li.main-filters__check-list-item Все пидарасы,  один я  хороший
    .main-filters__submit-group
      button.main-filters__submit НАЙТИ
      .main-filters__control-btn
        .main-filters__submit-col
          button.main-filters__submit-check
            i.icon-check
        .main-filters__submit-col
          button.main-filters__close
            i.icon-close
  .main-filters__dropdown
    .main-filters__control
      .main-filters__control-item
        .main-filters__switches
          .main-filters__switches-item
            a(href="#").main-filters__switches-link.main-filters__switches-link_active МОЙ ГАРДЕРОБ
          .main-filters__switches-item
            a(href="#").main-filters__switches-link ВСЕ ВЕЩИ
      .main-filters__control-item
        .main-filters__search
          input.main-filters__search-input(placeholder="Быстрый поиск")
          button.main-filters__search-submit
            i.icon-search
    .main-filters__inner.scroll-mob
      .main-filters__category.scroll-desktop
        .main-filters__category-inner
          .main-filters__list-col
            .main-filters__list
              +mainFiltersListItem('icon-t-shirt','Футболки')
              +mainFiltersListItem('icon-shirt','Рубашки')
              +mainFiltersListItem('icon-pants','Штаны')
              +mainFiltersListItem('icon-shorts','Шорты')
              +mainFiltersListItem('icon-sweater','Свитера')
              +mainFiltersListItem('icon-costumes','Костюмы')
              +mainFiltersListItem('icon-outerwear','Верхняя одежда')
              +mainFiltersListItem('icon-shoes','Обувь')
          .main-filters__sub-list-col
            .main-filters__sub-list
              +mainFiltersSubListItem('img/pic-1.png','Футболки-поло','')
              +mainFiltersSubListItem('img/pic-2.png','Футболки с V-образным вырезом','')
              +mainFiltersSubListItem('img/pic-3.png','Футболки с круглым вырезом','')
              +mainFiltersSubListItem('img/pic-4.png','Майки','')
              +mainFiltersListItem('icon-t-shirt','Все футболки')
      .main-filters__content
        .main-filters__content-scroll.scroll-desktop
          .main-filters__products
            +mainFiltersProduct('img/pic-5.png','Белая футболка-поло','main-filters__product-inner_active')
            +mainFiltersProduct('img/pic-6.png','Синяя футболка-поло','')
            +mainFiltersProduct('img/pic-7.png','Черная футболка-поло','')
            +mainFiltersProduct('img/pic-8.png','Футболка-поло в горизонтальную полоску','')
            +mainFiltersProduct('img/pic-9.png','Серая футболка-поло','')
            +mainFiltersProduct('img/pic-10.png','Темно-синяя футболка-поло','')
            +mainFiltersProduct('img/pic-11.png','Футболка-поло в горизонтальную полоску','')
            +mainFiltersProduct('img/pic-12.png','Серая футболка-поло','')
            +mainFiltersProduct('img/pic-13.png','Темно-синяя футболка-поло','')
            +mainFiltersProduct('img/pic-5.png','Белая футболка-поло','')
            +mainFiltersProduct('img/pic-6.png','Синяя футболка-поло','')
            +mainFiltersProduct('img/pic-7.png','Черная футболка-поло','')
            +mainFiltersProduct('img/pic-8.png','Футболка-поло в горизонтальную полоску','')
            +mainFiltersProduct('img/pic-9.png','Серая футболка-поло','')
            +mainFiltersProduct('img/pic-10.png','Темно-синяя футболка-поло','')