#partners.partners
	.partners__slider
		.partners__item
			a(href="").partners__inner
				img(src="img/lamoda.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/asos.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/oodji.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/partners-4.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/lamoda.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/asos.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/oodji.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/partners-4.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/lamoda.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/asos.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/oodji.svg")
		.partners__item
			a(href="").partners__inner
				img(src="img/partners-4.svg")