mixin lookSliderItem($img,$name,$text)
	.look-slider__item
		a(href="")
			img(src=$img, alt="").look-slider__img
			.look-slider__cont
				.look-slider__name=$name
				.look-slider__text=$text
-
	var lookSlider = [
		{
			img:'img/pic-15.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-16.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-17.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-18.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-19.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-15.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-16.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-17.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-18.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		},
		{
			img:'img/pic-19.jpg',
			name: 'Chris Pratt',
			text: '27 образов'
		}
	]

.main-container.popular-looks
	h3.categoty-title Модные луки знаменитостей

.category-scroll
	.looks-slider
		each lookSliderItem in lookSlider
			+lookSliderItem(lookSliderItem.img,lookSliderItem.name,lookSliderItem.text)

.main-container.popular-trends
	h3.categoty-title Тренды
.trends-slider
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-20.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name 5 вещей, которые должны быть в осенне-зимнем гардеробе каждого мужчины
				.trends-slider__text Проверь, что в твоем гардеробе есть эти 5 предметов одежды, без которых осенью и зимой не обходится ни один стильный джентельмен.
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-21.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name Главные тенденции мужской моды сезона осень-зима 2017/2018
				.trends-slider__text Мы рассмотрели новые дизайнерские коллекции мужской одежды, и вот наш модный отчёт о самых практичных тенденциях мужской моды сезона осень-зима 2017/18.
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-22.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name Мужской тренч: с чем носить и куда надевать классический тренчкот (50 фото)
				.trends-slider__text Тренчкот - классический предмет мужского гардероба, который не выходит из моды вот уже более 100 лет и не меняет своего внешнего вида.
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-23.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name Мужской тренч: с чем носить и куда надевать классический тренчкот (50 фото)
				.trends-slider__text Тренчкот - классический предмет мужского гардероба, который не выходит из моды вот уже более 100 лет и не меняет своего внешнего вида.
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-20.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name 5 вещей, которые должны быть в осенне-зимнем гардеробе каждого мужчины
				.trends-slider__text Проверь, что в твоем гардеробе есть эти 5 предметов одежды, без которых осенью и зимой не обходится ни один стильный джентельмен.
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-21.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name Главные тенденции мужской моды сезона осень-зима 2017/2018
				.trends-slider__text Мы рассмотрели новые дизайнерские коллекции мужской одежды, и вот наш модный отчёт о самых практичных тенденциях мужской моды сезона осень-зима 2017/18.
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-22.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name Мужской тренч: с чем носить и куда надевать классический тренчкот (50 фото)
				.trends-slider__text Тренчкот - классический предмет мужского гардероба, который не выходит из моды вот уже более 100 лет и не меняет своего внешнего вида.
	.trends-slider__item
		a(href="").trends-slider__inner
			.trends-slider__img
				img(src="img/pic-23.jpg" alt="")
			.trends-slider__cont
				.trends-slider__name Мужской тренч: с чем носить и куда надевать классический тренчкот (50 фото)
				.trends-slider__text Тренчкот - классический предмет мужского гардероба, который не выходит из моды вот уже более 100 лет и не меняет своего внешнего вида.