.welcome
  .main-container.welcome__inner
    .welcome__cont
    .welcome__item.welcome__item_1.parallax
      .layer(data-depth="0.1")
    .welcome__item.welcome__item_2.parallax
      .layer(data-depth="0.05")
    .welcome__item.welcome__item_3.parallax
      .layer(data-depth="0.3")
    .welcome__item.welcome__item_4.parallax
      .layer(data-depth="0.4")
    .welcome__item.welcome__item_5.parallax
      .layer(data-depth="0.5")
    .welcome__item.welcome__item_6.parallax
      .layer(data-depth="0.1")
    .welcome__content
      .welcome__title Подберем для вас образ под любую
        span вещь за считанные секунды



