extends layout/_layout

block content
	include blocks/_header
	include blocks/_welcome
	include blocks/_main-filters
	include blocks/_how-it-works
	include blocks/_info-shop
	include blocks/_partners
	include blocks/_popular-looks
	include blocks/_footer