extends layout/_layout

block content
	.page-welcome
		include blocks/_header
		include blocks/_welcome
		include blocks/_main-filters
	.look-cont.main-container
		.look-row
			.look-aside
				a(href="").look-btn-filter фильтры
				.acordion
					.acordion__item
						.acordion__header.acordion__header--active Количество предметов в образе
						.acordion__cont.acordion__cont--active
							.range
								.range__top
									.col-auto от
										!=" "
										span#range-things-min
										|  вещей
									.col-auto.ml-auto до
										!=" "
										span#range-things-max
										|  вещей
								#range-things
					.acordion__item
						.acordion__header.acordion__header--active Стоимость комплекта
						.acordion__cont.acordion__cont--active
							.range
								.range__top
									.col-auto от
										!=" "
										span#range-cost-min
										|  руб.
									.col-auto.ml-auto до
										!=" "
										span#range-cost-max
										|  руб.
								#range-cost
					.acordion__item
						.acordion__header.acordion__header--active Магазины
						.acordion__cont.acordion__cont--active
							ul.checkbox-list
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Mango
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Wildberries
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Lamoda
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Asos
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Farfetch
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Oodji
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Ssence
					.acordion__item
						.acordion__header Сортировка
						.acordion__cont
							ul.checkbox-list
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Mango
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Wildberries
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Lamoda
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Asos
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Farfetch
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Oodji
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Ssence
					.acordion__item
						.acordion__header Возраст
						.acordion__cont
							ul.checkbox-list
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Mango
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Wildberries
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Lamoda
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Asos
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Farfetch
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Oodji
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Ssence
					.acordion__item
						.acordion__header Особенности комплекта
						.acordion__cont
							ul.checkbox-list
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Mango
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Wildberries
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Lamoda
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Asos
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Farfetch
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Oodji
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Ssence
					.acordion__item
						.acordion__header Дополнительно
						.acordion__cont
							ul.checkbox-list
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Mango
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Wildberries
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Lamoda
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Asos
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Farfetch
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox").checkbox__input
										.checkbox__cont
											i.icon-check
										| Oodji
								li.checkbox-list__item
									label.checkbox
										input(type="checkbox" checked).checkbox__input
										.checkbox__cont
											i.icon-check
										| Ssence
			.look-inner
				.look-inner__hidden-item
				.look-grid
					.look-grid__item
						.look-grid__inner
							.look-grid__img-tab
								img(src="img/pic-24.jpg", alt="").look-grid__img
								a.look-grid__img-info.look-grid__img-info--left(href="" style="top:169px;left:195px;") Серая футболка
							.look-grid__cont
								ul.look-thumbnails
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn.look-thumbnails__btn--active
											img(src="img/pic-30.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-31.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-32.jpg", alt="").look-thumbnails__img
								.look-grid__text Подобный образ из темно-синего бомбера и черных джинсов нетрудно повторить, а результат превзойдет все твои ожидания. Чем не суперский ансамбль на весенне-осенний период?
								.look-grid__footer
									a(href="").look-grid__like
										i.icon-heart
									span.look-grid__like-num 1540
					.look-grid__item
						.look-grid__inner
							.look-grid__img-tab
								img(src="img/pic-25.jpg", alt="").look-grid__img
								a.look-grid__img-info.look-grid__img-info--left(href="" style="top:129px;left:159px;")!="Темно-синий <br> бомбер"
								a.look-grid__img-info.look-grid__img-info--left(href="" style="top:202px;left:197px;")!="Белая футболка"
								a.look-grid__img-info.look-grid__img-info--left(href="" style="top: 288px;left: 189px;")!="Черные брюки <br> чинос"
								a.look-grid__img-info.look-grid__img-info--left(href="" style="top: 437px;left: 180px;")!="Темно-синие <br> низкие кеды"
							.look-grid__cont
								ul.look-thumbnails
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn.look-thumbnails__btn--active
											img(src="img/pic-33.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-34.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-35.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-36.jpg", alt="").look-thumbnails__img
								.look-grid__text Можно с уверенностю сказать, что темно-синий бомбер смотрится отлично в тандеме с черными брюками чинос. темно-синие низкие кеды гарантируют комфорт в течение всего дня. Когда приходит более теплая весенняя погода, подобный образ окажется по душе самым требовательным молодым людям.
								.look-grid__footer
									a(href="").look-grid__like
										i.icon-heart
									span.look-grid__like-num 215
					.look-grid__item
						.look-grid__inner
							.look-grid__img-tab
								img(src="img/pic-26.jpg", alt="").look-grid__img
							.look-grid__cont
								ul.look-thumbnails
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn.look-thumbnails__btn--active
											img(src="img/pic-33.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-34.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-35.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-36.jpg", alt="").look-thumbnails__img
								.look-grid__text Можно с уверенностю сказать, что темно-синий бомбер смотрится отлично в тандеме с черными брюками чинос. темно-синие низкие кеды гарантируют комфорт в течение всего дня. Когда приходит более теплая весенняя погода, подобный образ окажется по душе самым требовательным молодым людям.
								.look-grid__footer
									a(href="").look-grid__like
										i.icon-heart
									span.look-grid__like-num 215
					.look-grid__item
						.look-grid__inner
							.look-grid__img-tab
								img(src="img/pic-27.jpg", alt="").look-grid__img
							.look-grid__cont
								ul.look-thumbnails
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn.look-thumbnails__btn--active
											img(src="img/pic-33.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-34.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-35.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-36.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn.look-thumbnails__btn--active
											img(src="img/pic-31.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-32.jpg", alt="").look-thumbnails__img
								.look-grid__text Поклонникам непринужденного стиля будет по вкусу образ из темно-синего бомбера и темно-синих джинсов. Опасаешься выглядеть слишком небрежно? Заверши этот лук темно-красными кожаными повседневными ботинками. Нечего и говорить, такое сочетание станет отличным выбором в погожий осенний день.
								.look-grid__footer
									a(href="").look-grid__like
										i.icon-heart
									span.look-grid__like-num 15K
					.look-grid__item
						.look-grid__inner
							.look-grid__img-tab
								img(src="img/pic-28.jpg", alt="").look-grid__img
							.look-grid__cont
								ul.look-thumbnails
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn.look-thumbnails__btn--active
											img(src="img/pic-33.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-34.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-35.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-36.jpg", alt="").look-thumbnails__img
								.look-grid__text Можно с уверенностю сказать, что темно-синий бомбер смотрится отлично в тандеме с черными брюками чинос. темно-синие низкие кеды гарантируют комфорт в течение всего дня. Когда приходит более теплая весенняя погода, подобный образ окажется по душе самым требовательным молодым людям.
								.look-grid__footer
									a(href="").look-grid__like
										i.icon-heart
									span.look-grid__like-num 215
					.look-grid__item
						.look-grid__inner
							.look-grid__img-tab
								img(src="img/pic-29.jpg", alt="").look-grid__img
							.look-grid__cont
								ul.look-thumbnails
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn.look-thumbnails__btn--active
											img(src="img/pic-33.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-34.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-35.jpg", alt="").look-thumbnails__img
									li.look-thumbnails__item
										a(href="").look-thumbnails__btn
											img(src="img/pic-36.jpg", alt="").look-thumbnails__img
								.look-grid__text Можно с уверенностю сказать, что темно-синий бомбер смотрится отлично в тандеме с черными брюками чинос. темно-синие низкие кеды гарантируют комфорт в течение всего дня. Когда приходит более теплая весенняя погода, подобный образ окажется по душе самым требовательным молодым людям.
								.look-grid__footer
									a(href="").look-grid__like
										i.icon-heart
									span.look-grid__like-num 215
				.look-load
					.look-load__img
					.look-load__text Подбираем вещи...
				.text-center
					a(href="").btn-load-more ЗАГРУЗИТЬ ЕЩЕ
	include blocks/_footer
