.checkbox-list {
  padding: 0;
  list-style: none;
  margin: 0;

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.checkbox {
  display: block;
  position: relative;
  min-height: 20px;
  padding-left: 28px;
  font-size: 16px;
  line-height: 1.1875;
  color: #444444;
  font-family: $Roboto;
  cursor: pointer;

  &__cont {
    width: 17px;
    height: 17px;
    border: 2px solid #3AAB3E;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
    color: #fff;
    font-size: 7px;
    text-align: center;
    transition: 0.3s all ease;
    
    i {
      display: inline-block;
      vertical-align: top;
      margin: 2px 0 0;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    &:checked {
      & + .checkbox__cont {
        background: #3AAB3E;
      }
    }
  }
}