.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.main-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

@mixin flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-row {
  @include flex-row();
}

@mixin flex-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col {
  @include flex-col();
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

@mixin flex-col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-auto {
  @include flex-col-auto();
}

@mixin flex-col-size($flex-size) {
  -ms-flex: 0 0 $flex-size;
  flex: 0 0 $flex-size;
  max-width: $flex-size;
}

.col-3 {
  @include flex-col-size(25%);
}

.col-4 {
  @include flex-col-size(33.3%);
}

.col-6 {
  @include flex-col-size(50%);
}

.col-8 {
  @include flex-col-size(66.6%);
}


.col-9 {
  @include flex-col-size(75%);
}

@mixin flex-content-center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-img-center {
  @include flex-content-center();
}

.slick-slide {
  outline: 0!important;
}