@font-face {
    font-family: 'icomoon';
    src:  url('#{$rootUrlFonts}icomoon/icomoon.eot?tyljvf');
    src:  url('#{$rootUrlFonts}icomoon/icomoon.eot?tyljvf#iefix') format('embedded-opentype'),
    url('#{$rootUrlFonts}icomoon/icomoon.ttf?tyljvf') format('truetype'),
    url('#{$rootUrlFonts}icomoon/icomoon.woff?tyljvf') format('woff'),
    url('#{$rootUrlFonts}icomoon/icomoon.svg?tyljvf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-heart:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-costumes:before {
  content: "\e906";
}
.icon-pants:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-shirt:before {
  content: "\e909";
}
.icon-shoes:before {
  content: "\e90a";
}
.icon-shorts:before {
  content: "\e90b";
}
.icon-sweater:before {
  content: "\e90c";
}
.icon-t-shirt:before {
  content: "\e90d";
}
.icon-outerwear:before {
  content: "\e90e";
}
.icon-down:before {
  content: "\e90f";
}
.icon-fb:before {
  content: "\e910";
}
.icon-in:before {
  content: "\e911";
}
.icon-tw:before {
  content: "\e912";
}
