*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: $baseFontFamily;
  font-weight: 400;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background: $bodyBackground;
  min-width: 320px;
  margin:auto;
}

.slick-slide {
  outline: 0!important;
}

#main  {
  width: 100%;
  overflow: hidden;

  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }


  .mCSB_scrollTools {
    z-index: 500;

    .mCSB_draggerRail {
      opacity: 0 !important;
    }

    .mCSB_dragger .mCSB_dragger_bar {
      background: #C4C4C4;
      border-radius: 50px;
      width: 6px;
      opacity: 1 !important;
    }
  }
}

