.more-link-line-w {
  position: relative;
  display: inline-block;
  vertical-align: top;

  &:before {
    position: absolute;
    top:10px;
    left:100%;
    margin:0 0 0 20px;
    content: '';
    display: block;
    @include size(136px,2px);
    background: #3AAB3E;
    @include transition(0.3s all ease);
  }

  &:hover {
    &:before {
      width: 0;
    }
  }
}

.more-link-line {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    outline: 0;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #3AAB3E;
    @include transition(0.3s all ease);

    &:hover {
        color: darken(#3AAB3E,10%);
    }
}
.categoty-title {
  font-weight: bold;
  font-size: 26px;
  color: #3AAB3E;
  margin: 0;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 25px;
  &:before {
    position: absolute;
    top: 100%;
    left: 0;
    @include size(158px,1px);
    display: block;
    content: '';
    background: #3AAB3E;
  }
}

@media(max-width: 1440px) {
  .more-link-line {
    font-size: 12px;
  }

  .more-link-line-w {
    &:before {
      width: 60px;
    }
  }
}

@media(max-width: 768px) {
  .categoty-title {
    font-size: 20px;
  }
}