.popular-looks {
  margin-top: 80px;
}

.looks-slider {
  &:hover {
    .looks-slider__arrow {
      opacity: 1;
    }
  }

  &__arrow {
    position: absolute;
    width: 80px;
    height: 100%;
    transition: 0.3s all ease;
    background: rgba(#fff,0.3);
    text-align: center;
    z-index: 100;
    cursor: pointer;
    opacity: 0;

    &:hover {
      background: rgba(#fff,0.5);
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #333;
      font-size: 40px;
      transform: translate(-50%,-50%);
    }

    &--prev {
      left: 0;
      top: 28px;
    }

    &--next {
      right: 0;
      top: 20px;
    }
  }
}

.look-slider {
  &__cont {
    padding: 10px 15px;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #3AAB3E;
    text-decoration: none;
  }

  &__text {
    font-size: 13px;
    line-height: 20px;
    color: #444444;
  }
}

.look-slider__item {
  outline: 0!important;
  transition: 0.3s all ease;
  perspective: 1000px;
  width: 285px;
  padding: 20px 2px;

  a {
    outline: 0!important;
    text-decoration: none;
  }
}

.look-slider__img {
  display: block;
  width: 100%;
}

.popular-trends {
  margin-top: 80px;
}

.trends-slider {
  &:hover {
    .trends-slider__arrow {
      opacity: 1;
    }
  }

  &__item {
    padding: 40px 15px;
  }

  &__inner {
    width: 350px;
    display: block;
    text-decoration: none;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(18, 67, 104, 0.15);
  }

  &__img {
    img {
      display: block;
      width: 100%;
    }
  }

  &__cont {
    padding: 20px 24px;
    height: 280px;
    overflow: hidden;
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #444444;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 23px;
    color: #444444;
  }

  &__arrow {
    position: absolute;
    width: 80px;
    height: 100%;
    transition: 0.3s all ease;
    background: rgba(#fff,0.3);
    text-align: center;
    z-index: 100;
    cursor: pointer;
    opacity: 0;

    &:hover {
      background: rgba(#fff,0.5);
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #333;
      font-size: 40px;
      transform: translate(-50%,-50%);
    }

    &--prev {
      left: 0;
      top: 28px;
    }

    &--next {
      right: 0;
      top: 20px;
    }
  }
}

@media(max-width: 768px) {
  .look-slider__item {
    width: 220px;
  }

  .looks-slider__arrow ,
  .trends-slider__arrow {
    display: none!important;
  }

  .trends-slider__inner {
    width: 300px;
  }

  .trends-slider__cont {
    padding: 12px;
  }

  .trends-slider__name {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .trends-slider__text {
    font-size: 14px;
  }

  .trends-slider__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}