#footer {

}

.footer {
  height: 386px;
  background: url("#{$rootUrl}footer-bg.svg") no-repeat center;
  background-size: cover;

  .main-container {
    position: relative;
  }

  .socials  {
    margin-bottom: 24px;
  }

  &__item {
    position: absolute;

    .layer {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--1 {
      top: 103px;
      left: -35px;
      z-index: 10;

      .layer {
        width: 705px;
        height: 305px;
        background-image: url("#{$rootUrl}footer-item-1.svg");
      }
    }

    &--2 {
      top: 273px;
      left: -35px;

      .layer {
        width: 546px;
        height: 113px;
        background-image: url("#{$rootUrl}footer-item-2.svg");
      }
    }

    &--3 {
      top: 118px;
      left: 805px;

      .layer {
        width: 763px;
        height: 267px;
        background-image: url("#{$rootUrl}footer-item-3.svg");
      }
    }
  }

  &__cont {
    position: relative;
    z-index: 100;
    @include flex-row();
    max-width: 936px;
    margin: auto;
  }

  &__lang {
    font-family: $Roboto;
    .jq-selectbox__select {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.5px;

      &-text {
        width: auto!important;
      }
    }

    .jq-selectbox__trigger {
      position: absolute;
      top: 9px;
      right: -16px;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
      font-size: 5px;

      &:before {
        content: "\e90f";
      }

      &-arrow {
        display: none;
      }
    }

    .jq-selectbox__dropdown {
      padding: 10px 0;
      width: 100%;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background: #fff;
        border-radius: 4px;

        li {
          font-size: 14px;
          padding: 5px 15px;
          color: #333;
          line-height: 1;
          cursor: pointer;
          transition: 0.3s all ease;

          &:hover {
            background: #eee;
          }

          &.sel ,
          &.selected {
            background: #3aab3e!important;
            color: #fff!important;
            cursor: default;
          }
        }
      }
    }
  }

  &__copy-lang {
    font-family: $Roboto;
    color: #fff;
    line-height: 1.3;
    margin: 9px 0 0;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  &__col-left {
    padding: 254px 0 0;
  }

  &__col-right {
    text-align: right;
    padding: 159px 0 0;
  }

  &__nav {
    display: block;
    margin: 0 0 14px;

    &-item {
      display: inline-block;
      vertical-align: top;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
      font-family: $Roboto;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.socials {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    transition: 0.3s all ease;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 32px;
    color: #3AAB3E;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }

    i {
      display: inline-block;
      vertical-align: top;
    }

    .icon-tw {
      font-size: 14px;
      margin: 9px 0 0 1px;
    }

    .icon-fb {
        margin: 8px 0 0 -1px;
    }

    .icon-in {
        margin: 8px 0 0 1px;
    }
  }
}

@media(max-width: 992px) and (min-width: 769px){
  $size: 0.7;

  .footer {
    height: round(386px*$size);

    .socials  {
      margin-bottom: round(24px*$size);
    }

    &__item {
      &--1 {
        top: round(103px*$size);
        left: round(-35px*$size);

        .layer {
          width: round(705px*$size);
          height: round(305px*$size);
        }
      }

      &--2 {
        top: round(273px*$size);
        left: round(-35px*$size);

        .layer {
          width: round(546px*$size);
          height: round(113px*$size);
        }
      }

      &--3 {
        top: round(118px*$size);
        left: round(805px*$size);

        .layer {
          width: round(763px*$size);
          height: round(267px*$size);
        }
      }
    }

    &__cont {
      max-width: round(936px*$size);
    }

    &__copy-lang {
      margin: round(9px*$size) 0 0;
    }

    &__col-left {
      padding: round(254px*$size) 0 0;
    }

    &__col-right {
      padding: round(159px*$size) 0 0;
    }

    &__nav {
      margin: 0 0 round(14px*$size);

      &-item {
        margin-left: round(24px*$size);
      }

      &-link {
        font-size: 14px;
      }
    }
  }
}

@media(max-width: 768px) {
  .footer {
    background-position: right top;
  }
  .footer__col-left {
    padding: 0;
    order: 1;
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
  }

  .footer__col-right {
    padding: 105px 0 0;
    order: 0;
    margin: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer__lang .jq-selectbox__select,
  .footer__copy-lang,
  .footer__nav-link {
    font-size: 14px;
  }

  .footer__lang {
    margin-right: 15px;
  }
}