#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  padding: 83px 0 0;

  .main-container {
    padding: 0 37px;
  }
}

.header--active {
  z-index: 600!important;
}

.header__menu-btn {
  display: none;
}

.header__logo {
  font-family: $Montserrat;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 22px;
  letter-spacing: 4.5px;
  text-decoration: none;
  margin-left: 16px;
}

.header__lang {
  display: inline-block;
  vertical-align: top;
  padding-right: 17px;
  margin: 5px 0 0;
  position: relative;
  cursor: pointer;

  &:hover {
    .header__lang-dropdown {
      opacity: 1;
      visibility: visible;
      @include transform(translate(0, 0));
    }
  }
}

.header__lang-ico_ru {
  background: url("#{$rootUrl}ru.png") no-repeat center;
}

.header__lang-ico,
.header__lang-item-ico {
  width: 18px;
  height: 18px;
  -webkit-background-size: cover;
  background-size: cover;
}

.header__lang-arrow {
  position: absolute;
  font-size: 5px;
  color: #fff;
  top: 6px;
  right: 0;
}

.header__lang-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px 0 0;
  opacity: 0;
  visibility: hidden;
  @include transform(translate(0, 50px));
  @include transition(0.3s all ease);
}

.header__lang-list {
  background: #fff;
  width: 175px;
  padding: 0;
  margin: 0;
  @include box-shadow(0 10px 15px rgba(#000, 0.2));
}

.header__lang-item {
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-family: $Roboto;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  @include transition(0.3s all ease);

  &:hover,
  &.active {
    background: #3AAB3E;
    color: #fff;
  }
}

.header__lang-item-ico {
  display: inline-block;
  vertical-align: text-top;
  margin: 0 7px 0;
}

.header__nav {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 8px 41px 0 0;
  list-style: none;
}

.header__nav-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 49px;

  &:first-child {
    margin-left: 0;
  }
}

.header__nav-link {
  text-transform: uppercase;
  color: #fff;
  display: block;
  line-height: 1;
  position: relative;
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;

  &:before {
    @include transition(0.3s all ease);
    background: #fff;
    width: 0;
    height: 2px;
    top: 100%;
    left: 50%;
    content: '';
    margin: 18px 0 0;
    display: block;
    position: absolute;
  }

  &:hover {
    &:before {
      width: 100%;
      left: 0;
    }
  }
}

.header__nav-link_active {
  cursor: default;

  &:before {
    width: 100%;
    left: 0;
  }
}

@media(max-width: 1200px) {
  #header {
    padding-top: 40px;
  }

  .header__logo {
    margin-left: 0;
  }
}

@media(max-width: 992px) {
  #header {
    padding-top: 20px;

    .main-container {
      padding: 0 15px;
    }
  }

  .header__menu-btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: -5px -10px 0 15px;
    
    span {
      display: block;
      width: 30px;
      height: 2px;
      background: #fff;
      margin-top: 6px;
      position: relative;
      transition: 0.3s all ease;

      &:first-child {
        margin-top: 0;
      }
    }

    &--active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 8px;
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
          transform: translate(-20px,0);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: -8px;
        }
      }
    }
  }

  .header__nav {
    position: absolute;
    top: 60px;
    left: 10px;
    right: 10px;
    background: #fff;
    display: block;
    margin: 0;
    padding: 10px 0;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%,0);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translate(0,0);
    }
    
    &-item {
      display: block;
      margin: 0;
    }
    
    &-link {
      color: #222;
      padding: 15px;
      display: block;

      &:before {
        display: none;
      }
    }
  }
}

@media(max-width: 360px) {
  .header__logo {
    font-size: 18px;
    margin: 3px 0 0;
    display: inline-block;
    vertical-align: top;
  }
}