.how-it-works {
  position: relative;
}

.how-it-works__title {
  text-align: center;
  font-family: $Montserrat;
  font-weight: bold;
  font-size: 26px;
  color: #3AAB3E;
}

.how-it-works__inner {
  position: relative;

  .slick-dots {
    position: absolute;
    top: 50%;
    right: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: translate(0, -50%);

    li {
      margin: 10px 0;

      &.slick-active {
        button {
          background: #3AAB3E;
        }
      }
    }

    button {
      padding: 0;
      margin: 0;
      display: block;
      overflow: hidden;
      text-indent: -999px;
      width: 8px;
      height: 8px;
      border: 0;
      outline: 0;
      border-radius: 100%;
      transition: 0.3s all ease;
      background: rgba(58, 171, 62, 0.2);
      cursor: pointer;

      &:hover {
        background: #3AAB3E;
      }
    }
  }
}

.how-it-works__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 492px;

  &-inner {
    margin: auto;
    width: 962px;
    max-width: 100%;
    min-height: 492px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}

.how-it-works__item.slick-active {
  .how-it-works__icon {
    @include animation(howItworksIcon 1s both);
  }

  .how-it-works__text {
    @include animation(howItWorksText 1s both);
  }

  .how-it-works__box_1 {
    @include animation(howItWorksBox1 1s both);
  }

  .how-it-works__box_2 {
    @include animation(howItWorksBox2 1s 0.3s both);
  }

  .how-it-works__box_3 {
    @include animation(howItWorksBox1 1s 0.6s both);
  }

  .how-it-works__box_4 {
    @include animation(howItWorksBox2 1s 0.9s both);
  }

  .how-it-works__box_5 {
    @include animation(howItWorksBox1 1s 1.2s both);
  }
}

.how-it-works__item_fade-out {
  .how-it-works__icon {
    @include animation(howItworksIconOut 0.7s both);
  }

  .how-it-works__text {
    @include animation(howItWorksTextOut 0.7s both);
  }

  .how-it-works__box_1 {
    @include animation(howItWorksBox1Out 0.7s both);
  }

  .how-it-works__box_2 {
    @include animation(howItWorksBox2Out 0.7s 0.2s both);
  }

  .how-it-works__box_3 {
    @include animation(howItWorksBox1Out 0.7s 0.4s both);
  }

  .how-it-works__box_4 {
    @include animation(howItWorksBox2Out 0.7s 0.6s both);
  }

  .how-it-works__box_5 {
    @include animation(howItWorksBox1Out 0.7s 0.8s both);
  }
}

.how-it-works__icon {
  position: absolute;
  left: 50%;
  z-index: 10;
  opacity: 0;
}

@include keyframes(howItWorksText) {
  0% {
    -webkit-transform: translate(0, 200px);
    transform: translate(0, 200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@include keyframes(howItWorksTextOut) {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
    opacity: 0;
  }
}

@include keyframes(howItworksIcon) {
  0% {
    -webkit-transform: translate(0, -200px);
    transform: translate(0, -200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@include keyframes(howItworksIconOut) {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, -200px);
    transform: translate(0, -200px);
    opacity: 0;
  }
}

@include keyframes(howItWorksBox1) {
  0% {
    -webkit-transform: translate(500px, 100px);
    transform: translate(500px, 100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@include keyframes(howItWorksBox1Out) {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-500px, -100px);
    transform: translate(-500px, -100px);
    opacity: 0;
  }
}

@include keyframes(howItWorksBox2) {
  0% {
    -webkit-transform: translate(500px, -100px);
    transform: translate(500px, -100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@include keyframes(howItWorksBox2Out) {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-500px, 100px);
    transform: translate(-500px, 100px);
    opacity: 0;
  }
}

.how-it-works__icon_1 {
  width: 196px;
  height: 188px;
  background: url("#{$rootUrl}how-it-works-icon-1.svg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 78px;
  margin-left: -100px;
}

.how-it-works__icon_2 {
  width: 345px;
  height: 163px;
  background: url("#{$rootUrl}how-it-works-icon-2.svg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 108px;
  margin-left: -172px;
}


.how-it-works__icon_3 {
  width: 205px;
  height: 175px;
  background: url("#{$rootUrl}how-it-works-icon-3.svg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 92px;
  margin-left: -103px;
}


.how-it-works__box_1 {
  background: url("#{$rootUrl}how-it-works-box-1.svg") no-repeat center;
  @include size(421.2px, 235.4px);
  top: 63px;
  left: 291px;
}

.how-it-works__box_2 {
  background: url("#{$rootUrl}how-it-works-box-2.svg") no-repeat center;
  @include size(194.8px, 107.9px);
  top: 180px;
  left: -7px;
}

.how-it-works__box_3 {
  background: url("#{$rootUrl}how-it-works-box-2.svg") no-repeat center;
  @include size(194.8px, 107.9px);
  top: 246px;
  left: 234px;
}

.how-it-works__box_4 {
  background: url("#{$rootUrl}how-it-works-box-2.svg") no-repeat center;
  @include size(194.8px, 107.9px);
  top: 8px;
  left: 608px;
}

.how-it-works__box_5 {
  background: url("#{$rootUrl}how-it-works-box-2.svg") no-repeat center;
  @include size(194.8px, 107.9px);
  top: 139px;
  left: 779px;
}

.how-it-works__box {
  position: absolute;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0;
}

.how-it-works__text {
  position: absolute;
  text-align: center;
  width: 350px;
  left: 50%;
  top: 310px;
  margin-left: -175px;
  font-family: $Roboto;
  line-height: 1.5;
  font-size: 18px;
  color: #444444;
  opacity: 0;
}

@media(max-width: 992px) {
  $size: 0.7;

  .how-it-works {
    margin-top: 30px;

    &__title {
      font-size: 22px;
    }

    &__item {
      min-height: 330px;

      &-inner {
        width: round(992px*$size);
        min-height: round(492px*$size);
      }
    }
  }

  .how-it-works__icon_1 {
    width: round(196px*$size);
    height: round(188px*$size);
    top: round(78px*$size);
    margin-left: round(-100px*$size);
  }

  .how-it-works__icon_2 {
    width: round(345px*$size);
    height: round(163px*$size);
    top: round(108px*$size);
    margin-left: round(-172px*$size);
  }


  .how-it-works__icon_3 {
    width: round(205px*$size);
    height: round(175px*$size);
    top: round(92px*$size);
    margin-left: round(-103px*$size);
  }


  .how-it-works__box_1 {
    @include size(round(421.2px*$size), round(235.4px*$size));
    top: round(63px*$size);
    left: 185px;
  }

  .how-it-works__box_2 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(180px*$size);
    left: round(-7px*$size);
  }

  .how-it-works__box_3 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(246px*$size);
    left: round(234px*$size);
  }

  .how-it-works__box_4 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(8px*$size);
    left: round(608px*$size);
  }

  .how-it-works__box_5 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(139px*$size);
    left: round(779px*$size);
  }


  .how-it-works__text {
    width: round(350px*$size);
    top: round(310px*$size);
    margin-left: round(-175px*$size);
    font-size: round(18px*$size);
  }
}

@media(max-width: 768px) {
  $size: 0.5;

  .how-it-works {
    &__item {
      min-height: 330px;

      &-inner {
        width: round(992px*$size);
        min-height: round(492px*$size);
      }
    }
  }

  .how-it-works__icon_1 {
    width: round(196px*$size);
    height: round(188px*$size);
    top: round(78px*$size);
    margin-left: round(-100px*$size);
  }

  .how-it-works__icon_2 {
    width: round(345px*$size);
    height: round(163px*$size);
    top: round(108px*$size);
    margin-left: round(-172px*$size);
  }


  .how-it-works__icon_3 {
    width: round(205px*$size);
    height: round(175px*$size);
    top: round(92px*$size);
    margin-left: round(-103px*$size);
  }


  .how-it-works__box_1 {
    @include size(round(421.2px*$size), round(235.4px*$size));
    top: round(63px*$size);
    left: 135px;
  }

  .how-it-works__box_2 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(180px*$size);
    left: round(-7px*$size);
  }

  .how-it-works__box_3 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(246px*$size);
    left: round(234px*$size);
  }

  .how-it-works__box_4 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(8px*$size);
    left: round(608px*$size);
  }

  .how-it-works__box_5 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(139px*$size);
    left: round(779px*$size);
  }
}

@media(max-width: 568px) {
  $size: 0.3;

  .how-it-works {
    &__title {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &__item {
      min-height: 200px;

      &-inner {
        width: round(992px*$size);
        min-height: round(492px*$size);
      }
    }

    &__text {
      top: 130px;
    }
  }

  .how-it-works__icon_1 {
    width: round(196px*$size);
    height: round(188px*$size);
    top: round(78px*$size);
    margin-left: round(-100px*$size);
  }

  .how-it-works__icon_2 {
    width: round(345px*$size);
    height: round(163px*$size);
    top: round(108px*$size);
    margin-left: round(-172px*$size);
  }


  .how-it-works__icon_3 {
    width: round(205px*$size);
    height: round(175px*$size);
    top: round(92px*$size);
    margin-left: round(-103px*$size);
  }


  .how-it-works__box_1 {
    @include size(round(421.2px*$size), round(235.4px*$size));
    top: round(63px*$size);
    left: 84px;
  }

  .how-it-works__box_2 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(180px*$size);
    left: round(-7px*$size);
  }

  .how-it-works__box_3 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(246px*$size);
    left: round(234px*$size);
  }

  .how-it-works__box_4 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(8px*$size);
    left: round(608px*$size);
  }

  .how-it-works__box_5 {
    @include size(round(194.8px*$size), round(107.9px*$size));
    top: round(139px*$size);
    left: round(779px*$size);
  }
}