.info-shop {
  min-height: 872px;

  .main-container {
    max-width: 1440px;
    position: relative;
    min-height: 872px;
  }

  &__inner {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    display: block;
    @include size(1920px, 872px);
    background: url("#{$rootUrl}info-shop.svg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 0 0 -960px;
  }

  &__layer {
    position: absolute;

    &_1 {
      top: 250px;
      right: 0;
      z-index: 10;

      .layer {
        @include size(672px, 559px);
        background: url("#{$rootUrl}info-shop-layer-1.svg") no-repeat center;
      }
    }

    &_2 {
      top: 74px;
      left: 0;
      z-index: 30;
      @include animation(wave-from 160s infinite);

      .layer {
        @include size(705px, 585px);
        background: url("#{$rootUrl}info-shop-layer-2.svg") no-repeat center;
      }
    }

    &_3 {
      top: 507px;
      left: 0;
      z-index: 40;
      @include animation(wave-to 50s infinite);

      .layer {
        @include size(406px, 324px);
        background: url("#{$rootUrl}info-shop-layer-3.svg") no-repeat center;
      }
    }

    &_4 {
      top: 40px;
      right: 0;
      z-index: 50;
      @include animation(wave-to 70s infinite);

      .layer {
        @include size(484px, 449px);
        background: url("#{$rootUrl}info-shop-layer-4.svg") no-repeat center;
      }
    }

    &_5 {
      top: 147px;
      right: 0;
      z-index: 60;

      .layer {
        @include size(672px, 553px);
        background: url("#{$rootUrl}info-shop-layer-5.svg") no-repeat center;
      }
    }
  }

  &__cont {
    position: relative;
    z-index: 100;
    width: 50%;
    padding: 315px 0 0 150px;

    h3 {
      color: #fff;
      margin: 0;
      font-weight: bold;
      font-size: 26px;
    }
  }

  &__list {
    margin: 22px 0 0 -3px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-bottom: 43px;
    color: #fff;

    &:first-child {
      margin-left: 0;
    }

    &-num {
      line-height: 1;
      font-size: 75px;
      font-weight: bold;
    }

    &-text {
      font-size: 18px;
      font-weight: 500;
      font-family: $Roboto;
      line-height: 1;
      margin: 3px 0 0 2px;
    }
  }

  &__text {
    &-cont {
      padding: 174px 140px 20px 62px;

      p {
        font-family: $Roboto;
        line-height: 27px;
        font-size: 18px;
        color: #444444;
        margin: 0 0 17px;
      }
    }

    &-link {
      margin: 31px 0 0;
    }
  }
}


.info-shop__layer {
  .layer {
    -webkit-background-size: cover;
    background-size: cover;
  }
}
//
//@media(max-width: 1550px) {
//  $size: 0.7;
//
//  .info-shop {
//    min-height: round(872px*$size);
//
//    .main-container {
//      max-width: round(1440px*$size);
//      min-height: round(872px*$size);
//    }
//
//    &__inner {
//      @include size(round(1920px*$size), round(872px*$size));
//      margin: 0 0 0 round(-960px*$size);
//    }
//
//    &__layer {
//      &_1 {
//        top: round(250px*$size);
//
//        .layer {
//          @include size(round(672px*$size), round(559px*$size));
//        }
//      }
//
//      &_2 {
//        top: round(74px*$size);
//
//        .layer {
//          @include size(round(705px*$size), round(585px*$size));
//        }
//      }
//
//      &_3 {
//        top: round(507px*$size);
//
//        .layer {
//          @include size(round(406px*$size), round(324px*$size));
//        }
//      }
//
//      &_4 {
//        top: round(40px*$size);
//
//        .layer {
//          @include size(round(484px*$size), round(449px*$size));
//        }
//      }
//
//      &_5 {
//        top: round(147px*$size);
//
//        .layer {
//          @include size(round(672px*$size), round(553px*$size));
//        }
//      }
//    }
//
//    &__cont {
//      padding: round(315px*$size) 0 0 round(150px*$size);
//
//      h3 {
//        font-size: round(26px*$size);
//      }
//    }
//
//    &__list {
//      margin: round(22px*$size) 0 0 round(-3px*$size);
//    }
//
//    &__item {
//      margin-left: round(60px*$size);
//      margin-bottom: round(43px*$size);
//
//      &-num {
//        font-size: round(75px*$size);
//      }
//
//      &-text {
//        font-size: round(18px*$size);
//      }
//    }
//
//    &__text {
//      &-cont {
//        padding: round(174px*$size) round(140px*$size) round(20px*$size) round(62px*$size);
//
//        p {
//          line-height: 1.5;
//          font-size: round(18px*$size);
//          margin: 0 0 round(17px*$size);
//        }
//      }
//
//      &-link {
//        margin: round(31px*$size) 0 0;
//      }
//    }
//  }
//}

@media(max-width: 1550px) {
  .info-shop {
    &__cont {
      padding-left: 40px;
    }
  }

  .info-shop__layer_5 ,
  .info-shop__layer_1 {
    right: 15px;
  }
}

@media(max-width: 1440px) {
  $size: 0.8;

  .info-shop__cont h3 {
    font-size: 22px;
  }

  .info-shop__item-num {
    font-size: 60px;
  }

  .info-shop__item-text {
    font-size: 16px;
  }

  .info-shop__item {
    margin-bottom: 30px;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  .info-shop__layer_5  {
    top: 245px;
    right: 40px;

    .layer {
      width: round(672px*$size);
      height: round(553px*$size);
    }
  }

  .info-shop__layer_1 {
    top: 300px;
    right: 40px;

    .layer {
      width: round(672px*$size);
      height: round(559px*$size);
    }
  }

  .info-shop__layer_2 {
    top: 120px;
  }

  .info-shop__text-cont {
    padding: 120px 70px 10px 40px;

    p {
      font-size: 16px;
    }
  }
}

@media(max-width: 1100px) {
  $size: 0.7;

  .info-shop {
    min-height: 630px;

    .main-container {
      min-height: 630px;
    }

    &__layer {
      &_1 {
        top: round(250px*$size);

        .layer {
          @include size(round(672px*$size), round(559px*$size));
        }
      }

      &_2 {
        top: round(74px*$size);

        .layer {
          @include size(round(705px*$size), round(585px*$size));
        }
      }

      &_3 {
        top: round(507px*$size);

        .layer {
          @include size(round(406px*$size), round(324px*$size));
        }
      }

      &_4 {
        top: round(40px*$size);

        .layer {
          @include size(round(484px*$size), round(449px*$size));
        }
      }

      &_5 {
        top: round(147px*$size);

        .layer {
          @include size(round(672px*$size), round(553px*$size));
        }
      }
    }
  }

  .info-shop__text-cont {
    padding: 115px 30px 10px 30px;

    p {
      font-size: 14px;
    }
  }

  .info-shop__cont {
    padding: 245px 0 0 40px;

    h3 {
      font-size: 18px;
    }
  }

  .info-shop__item-num {
    font-size: 40px;
  }

  .info-shop__item-text {
    font-size: 14px;
  }

  .info-shop__item {
    margin-bottom: 20px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .info-shop__inner {
    width: round(1920px*$size);
    height: round(872px*$size);
    margin: 0 0 0 round(-960px*$size);
  }
}

@media(max-width: 950px) {
  .info-shop__layer_5 {
    left: 50%;
    right: auto;
    transform: translate(-50%,0);
    top: 320px;
    z-index: 100;
  }

  .info-shop__layer_1 {
    left: 50%;
    right: auto;
    transform: translate(-50%,0);
    z-index: 90;
    top: 345px;
  }

  .info-shop__cont {
    padding: 165px 0 0 30px;
    margin: auto;
    width: 470px;
  }

  .info-shop .main-container {
    min-height: 741px;
  }
}

@media(max-width: 568px) {
  $size: 0.5;

  .info-shop {
    min-height: 680px;

    .main-container {
      min-height: 680px;
    }

    &__layer {
      &_2 {
        top: round(74px*$size);

        .layer {
          @include size(round(705px*$size), round(585px*$size));
        }
      }

      &_3 {
        top: round(507px*$size);

        .layer {
          @include size(round(406px*$size), round(324px*$size));
        }
      }

      &_4 {
        top: round(40px*$size);

        .layer {
          @include size(round(484px*$size), round(449px*$size));
        }
      }
    }
  }

  .info-shop__cont {
    width: 300px;
    padding: 156px 0 0 10px;
  }

  .info-shop__cont h3 {
    font-size: 14px;
  }

  .info-shop__item-num {
    font-size: 30px;
  }

  .info-shop__item-text {
    font-size: 12px;
  }

  .info-shop__item {
    margin-bottom: 0;
  }

  .info-shop__layer_5 {
    top: 275px;

    .layer {
      width: 350px;
    }
  }

  .info-shop__text-cont {
    padding: 78px 15px 10px 15px;

    p {
      margin-bottom: 10px;
    }
  }

  .info-shop__text-link {
    margin-top: 0;
  }

  .info-shop__layer_1  {
    top: 300px;

    .layer {
      width: 350px;
    }
  }
}


@media(max-width: 360px) {
  .info-shop__layer_1 {
    .layer {
      width: 310px;
    }
  }

  .info-shop__layer_5 {
    .layer {
      width: 310px;
    }
  }
}