.look-row {
  display: flex;
  flex-wrap: wrap;
}

.look-cont {
  position: relative;
  z-index: 100;
  max-width: 1138px;
  margin-top: -291px;
  margin-bottom: 200px;
}

.look-aside  {
  width: 350px;
}

.acordion {
  background: #FFFFFF;
  box-shadow: 0 5px 40px rgba(18, 67, 104, 0.15);
  min-height: 80px;

  &__item {
    padding: 15px 0;
    border-bottom: 1px solid #E7E7E7;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 0 50px;
    min-height: 50px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:after ,
    &:before {
      display: block;
      content: '';
      background: #CECECE;
      position: absolute;
      top: 50%;
    }

    &:before {
      width: 14px;
      height: 2px;
      margin-top: -1px;
      left: 22px;
    }

    &:after {
      width: 2px;
      height: 14px;
      margin-top: -7px;
      left: 28px;
      transition: 0.3s all ease;
    }

    &--active {
      &:after {
        transform: rotate(90deg);
      }
    }
  }

  &__cont {
    display: none;
    padding: 10px 20px;

    &--active {
      display: block;
    }
  }
}

.look-inner {
  @media(min-width: 1025px) {
    @include flex-col();
  }
  padding-left: 20px;
  margin-right: -15px;
  margin-top: -1px;

  &__hidden-item {
    width: 100%;
    min-height: 1px;
  }
}

.look-grid {
  width: 100%;
  min-height: 100px;

  &__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }

  &__img-tab {
    position: relative;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__img-info  {
    position: absolute;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #3AAB3E;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    padding: 9px 12px;
    opacity: 0.8;
    transition: 0.3s all ease;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;

    &:hover {
      opacity: 1!important;
    }

    &:before ,
    &:after {
      position: absolute;
      content: '';
      display: block;
    }

    &--left {
      visibility: hidden;
      opacity: 0;
      transform: translate(100%,0);

      &:before {
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background: #9CD046;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        margin-right: 20px;
      }

      &:after {
        width: 21px;
        height: 1px;
        top: 50%;
        right: 100%;
        background: #9CD046;
      }
    }
  }

  &__inner {
    &:hover {
      .look-grid__img-info--left {
        opacity: 0.8;
        visibility: visible;
        transform: translate(0,0);
      }
    }
  }

  &__cont {
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(18, 67, 104, 0.15);
    padding-bottom: 10px;
  }

  &__text {
    padding: 15px 13px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
  }

  &__footer {
    padding: 0 13px;
    line-height: 24px;
  }

  &__like {
    color: #3AAB3E;
    font-size: 14px;
    display: inline-block;
    transition: 0.3s all ease;
    border: 0;
    outline: 0;
    text-decoration: none;
    background: transparent;

    &:hover ,
    &:active ,
    &:focus {
      color: red;
    }
  }

  &__like-num {
    font-size: 14px;
    color: #929292;
    margin-left: 10px;
    display: inline-block;
  }
}

.look-thumbnails {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap:wrap;

  &__item {
    width: 20%;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__btn {
    background: transparent;
    border:0;
    outline: 0;
    display: block;
    text-decoration: none;
    transition: 0.3s all ease;
    opacity: 0.5;

    &:hover ,
    &--active {
      opacity: 1;
    }
  }
}

.look-load {
  margin: 26px 0 0;

  &__img {
    width: 47px;
    height: 47px;
    background: url("#{$rootUrl}load.png") no-repeat center;
    background-size: cover;
    margin: auto;
    animation: load 1s linear infinite;
  }

  &__text {
    text-align: center;
    color: #3AAB3E;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    font-family: $Roboto;
    margin: 19px 0 0;
  }
}

@keyframes load {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.range {
  padding-left: 5px;
  padding-right: 5px;

  &__top {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.1875;
    color: #444444;
    font-family: $Roboto;
  }

  .ui-slider {
    height: 2px;
    background: #ECECEC;
    border: 0;
    border-radius: 0;
    margin: 20px 0 0;
  }

  .ui-slider-range {
    border: 0;
    border-radius: 0;
    background: #3AAB3E;
  }

  .ui-slider-handle {
    background: #FFFFFF;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: 2px solid #3AAB3E;
    top: -8px;
    outline: 0;
    cursor: pointer;
  }
}

.btn-load-more {
  background: #3AAB3E;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 350px;
  max-width: 90%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
  margin: 56px 0 0;
  transition: 0.3s all ease;

  &:hover {
    background: #35a038;
  }
}

.look-btn-filter {
  background: #3AAB3E;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  display: none;
  text-transform: uppercase;
  text-decoration: none;
  margin: 56px 0 0;
  transition: 0.3s all ease;

  &:hover {
    background: #35a038;
  }
}

@media(max-width: 1200px) {
  .look-cont {
    margin-top: -191px;
  }
}

@media(max-width: 1024px) {
  .look-grid__img-info {
    display: none;
  }

  .look-row {
    display: block;
  }

  .look-aside {
    width: 100%;
  }

  .look-inner {
    padding: 0;
    margin: 30px -15px 0;
  }

  .look-btn-filter {
    display: block;
    margin: 30px auto;
    max-width: 350px;
  }

  .acordion {
    display: none;
  }
}

@media(max-width: 992px) {
  .look-cont {
    margin-top: -160px;
  }
}

@media(max-width: 568px) {
  .look-cont {
    margin-top: -130px;
    margin-bottom: 30px;
  }

  .look-grid__item {
    width: 100%;
  }
}