.main-filters {
  //margin: 47px auto 0;
  width: 1110px;
  height: 64px;
  background: #fff;
  box-shadow: 0 0 50px rgba(19, 90, 23, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 200;
  top: 439px;
  left: 50%;
  transform: translate(-50%,0);
  transition: 0.3s all ease;

  &--fixed {
    top: 15px;
  }

  &--active {
    position: fixed;
    top: 15px!important;
    z-index: 500;
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    max-height: calc(100vh - 120px);
    height: 100vh;
    box-shadow: 0 50px 50px 0 rgba(19, 90, 23, 0.1), 0 4px 7px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #E7E7E7;
    transform: translate(-200%, 0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity ease, 0.3s transform ease;

    &_active {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__submit-group {
    position: relative;
    width: 128px;
  }

  &__submit {
    width: 100%;
    height: 64px;
    border: 0;
    outline: 0;
    transition: 0.3s all ease;
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    background: #FFB800;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: darken(#FFB800, 3%);
    }
  }

  .main-filters__control-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 50%);

    &_active {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }

  &__submit-col {
    @include flex-col-size(50%);
  }

  &__submit-check {
    height: 64px;
    width: 100%;
    display: block;
    line-height: 64px;
    text-align: center;
    color: #fff;
    background: #3AAB3E;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 14px;
    transition: 0.3s all ease;
    cursor: pointer;

    &:hover,
    &:active {
      background: darken(#3AAB3E, 5%);
    }
  }

  &__close {
    height: 64px;
    width: 100%;
    display: block;
    line-height: 64px;
    text-align: center;
    background: #FFB800;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 15px;
    transition: 0.3s all ease;
    color: #fff;
    cursor: pointer;

    &:hover,
    &:active {
      background: darken(#FFB800, 5%);
    }
  }

  &__gender {
    width: 88px;
    height: 64px;
    border-right: 1px solid #E7E7E7;
    text-align: center;

    &-item {
      margin: 0 3px;
      line-height: 64px;
      display: inline-block;
      vertical-align: top;
    }

    &-link {
      text-transform: uppercase;
      font-family: $Roboto;
      font-size: 16px;
      @include transition(0.3s all ease);
      color: #CECECE;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        color: #444444;
      }

      &_active {
        color: #444444;
        font-weight: bold;
      }
    }
  }

  &__add-item {
    width: 255px;
    height: 64px;
    line-height: 64px;
    padding: 0 50px 0 24px;
    border-right: 1px solid #E7E7E7;
    color: #CECECE;
    position: relative;
    font-family: $Roboto;
    font-size: 16px;
    transition: 0.3s all ease;
    cursor: pointer;

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      color: #444444;

      .main-filters__toggle-reset {
        &:before,
        &:after {
          background: #444;
        }
      }
    }

    &_active {
      &:before {
        content: '';
        display: block;
        @include size(100%, 1px);
        left: 0;
        top: 100%;
        background: #fff;
        position: absolute;
        z-index: 100;
      }
    }

    &_product-active {
      color: #444;

      .main-filters__toggle-reset {
        @include rotate(45deg);

        &:before,
        &:after {
          background: #444;
        }
      }
    }
  }

  &__toggle-reset {
    position: absolute;
    top: 26px;
    right: 18px;
    @include transition(0.3s all ease);
    @include size(14px, 14px);

    &:before,
    &:after {
      background: #CECECE;
      display: block;
      content: '';
      position: absolute;
      @include transition(0.3s all ease);
    }

    &:before {
      @include size(14px, 2px);
      top: 6px;
      left: 0;
    }

    &:after {
      @include size(2px, 14px);
      top: 0;
      left: 6px;
    }
  }

  &__check-item {
    min-width: 192px;
    height: 64px;
    line-height: 64px;
    padding: 0 50px 0 24px;
    border-right: 1px solid #E7E7E7;
    color: #CECECE;
    position: relative;
    font-family: $Roboto;
    font-size: 16px;
    @include transition(0.3s all ease);
    cursor: pointer;

    &-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      color: #444;

      .main-filters__toggle-reset {
        &:before,
        &:after {
          background: #444;
        }

        &:after {
          @include rotate(-90deg);
        }
      }

      .main-filters__check-dropdown {
        opacity: 1;
        visibility: visible;
        @include transform(translate(0, 0));
      }
    }
  }

  &__check-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    transition: 0.3s opacity ease, 0.3s visibility ease , 0.3s transform ease;
    width: 275px;
    background: #FFFFFF;
    @include box-shadow(0 10px 15px rgba(#000, 0.2));
    opacity: 0;
    visibility: hidden;
    @include transform(translate(0, 50px));
    z-index: 100;
  }

  &__check-list {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
      font-family: $Roboto;
      font-size: 16px;
      color: #444444;
      @include transition(0.3s all ease);
      padding: 15px 27px;
      line-height: 1;

      &:hover {
        color: #fff;
        background: #3AAB3E;
      }
    }
  }

  &__control {
    @include flex-row();
    padding: 0 12px;

    &-item {
      padding: 22px 12px;
      @include flex-col-size(50%);
    }
  }

  &__switches {
    @include flex-row();

    &-item {@include flex-col-size(50%);}

    &-link {
      height: 48px;
      border: 1px solid #3AAB3E;
      @include transition(0.3s all ease);
      display: block;
      text-decoration: none;
      text-align: center;
      line-height: 46px;
      background: #fff;
      color: #3AAB3E;
      font-family: $Montserrat;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 2.8px;

      &:hover {
        background: rgba(#3AAB3E, 0.1);
      }

      &_active {
        background: #3AAB3E !important;
        color: #fff !important;
        cursor: default;
      }
    }
  }

  &__search {
    position: relative;

    &-input {
      font-family: $Roboto;
      font-size: 16px;
      color: #444;
      height: 48px;
      border: 0;
      border-bottom: 1px solid #CECECE;
      outline: 0;
      width: 100%;
      @include placeholder {
        color: #CECECE;
      }
    }

    &-submit {
      position: absolute;
      top: 15px;
      right: 0;
      color: #CECECE;
      font-size: 16px;
      @include transition(0.3s all ease);
      border: 0;
      outline: 0;
      background: transparent;
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;

      &:hover {
        color: #3AAB3E;
      }
    }
  }

  &__inner {
    @include flex-row();
    border-top: 1px solid #E7E7E7;
  }

  &__list-col {
    width: 50%;
    border-right: 1px solid #E7E7E7;
    position: relative;
  }

  &__list {
    padding: 22px 0;

    &-item {
      margin: 21px 0 0;

      &:first-child {
        margin-top: 0;
      }
    }

    &-link {
      @include flex-row();
      text-decoration: none;
      height: 50px;
      -ms-flex-align: center !important;
      align-items: center !important;
      @include transition(0.3s all ease);

      &:hover {
        background: rgba(#3AAB3E, 0.1);
      }
    }

    &-icon {
      width: 65px;
      display: block;
      text-align: center;
      color: #3AAB3E;
      font-size: 36px;

      i {
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 0;
      }

      .icon-t-shirt {

      }

      .icon-shirt {

      }

      .icon-shorts {
        font-size: 29px;
        margin: 15px 0 0;
      }

      .icon-sweater {
        font-size: 33px;
        margin: 12px 0 0;
      }

      .icon-costumes {
        font-size: 33px;
        margin: 12px 0 0;
      }

      .icon-outerwear {
        font-size: 33px;
        margin: 12px 0 0;
      }

      .icon-shoes {
        font-size: 18px;
        margin: 20px 0 0;
      }
    }

    &-text {
      font-family: $Roboto;
      font-size: 14px;
      color: #444;
      display: block;
      @include flex-col();
    }
  }

  &__sub-list-col {
    width: 50%;
    border-right: 1px solid #E7E7E7;
    position: relative;
  }

  &__sub-list {
    padding: 12px 0;

    .main-filters__list-item {
      margin: 15px 0 0;
    }

    .main-filters__list-link {
     // padding: 0 19px;
    }

    .main-filters__list-text {
      color: #3AAB3E;
    }

    &-link {
      @include flex-row();
      text-decoration: none;
      height: 70px;
      -ms-flex-align: center !important;
      align-items: center !important;
      @include transition(0.3s all ease);
      padding: 0 15px 0 15px;

      &:hover {
        background: rgba(#3AAB3E, 0.1);
      }
    }

    &-img {
      width: 65px;
      display: block;
      text-align: center;

      img {
        max-width: 100%;
        display: block;
        margin: 3px 0 0;
      }
    }

    &-text {
      font-family: $Roboto;
      font-size: 14px;
      color: #444;
      display: block;
      @include flex-col();
    }
  }

  &__category {
    width: 550px;
    max-height: calc(100vh - 215px);
    height: 100vh;

    &-inner {
      display: flex;
      flex-wrap: wrap;
      min-height: calc(100vh - 215px);
    }
  }

  &__content {
    @include flex-col();
    padding: 7px 0 0;

    &-scroll {
      max-height: calc(100vh - 225px);
      height: 100vh;
    }
  }

  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }

  .mCSB_scrollTools {
    .mCSB_draggerRail {
      opacity: 0 !important;
    }

    .mCSB_dragger .mCSB_dragger_bar {
      background: #C4C4C4;
      border-radius: 50px;
      width: 6px;
      opacity: 1 !important;
    }
  }

  &__products {
    @include flex-row();
    padding: 0 14px;
  }

  &__product {
    @include flex-col-size(33.3%);
    padding: 8px 0;

    &-inner {
      display: block;
      position: relative;
      margin: auto;
      width: 141px;
      padding: 13px;
      text-decoration: none;

      &:hover,
      &_active {
        .main-filters__product-line_up,
        .main-filters__product-line_down {
          width: 100%;
        }

        .main-filters__product-line_left,
        .main-filters__product-line_right {
          height: 100%;
        }
      }
    }

    &-line {
      position: absolute;
      display: block;
      background: #3AAB3E;
      @include transition(0.5s all ease);

      &_up ,
      &_down {
        @include size(0, 2px);
      }

      &_left,
      &_right {
        @include size(2px, 0);
      }

      &_up {
        top: 0;
        left: 0;
      }

      &_down {
        bottom: 0;
        right: 0;
      }

      &_left {
        left: 0;
        bottom: 0;
      }

      &_right {
        right: 0;
        top: 0;
      }
    }

    &-img {
      margin: auto;
      display: block;

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
    }

    &-name {
      font-family: $Roboto;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
      color: #444444;
    }
  }
}

#overlay-main-filters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  background: rgba(#000, 0.6);
  display: none;
}


@media(max-width: 1200px) {
  .main-filters {
    width: 800px;
    height: 50px;
    top: 275px;

    &--active {
      top: 15px!important;
    }

    &__gender {
      height: 50px;
      width: 60px;

      &-item {
        line-height: 50px;
      }

      &-link {
        font-size: 14px;
      }
    }

    &__add-item ,
    &__check-item {
      height: 50px;
      line-height: 50px;
      padding: 0 30px 0 10px;
      font-size: 14px;
      width: 100%;
      max-width: 165px;
      min-width: 0;
    }

    &__toggle-reset {
      right: 10px;
      top: 18px;
    }

    &__submit {
      height: 50px;
      line-height: 50px;
      font-size: 10px;
    }

    &__submit-check ,
    &__close {
      height: 50px;
      line-height: 50px;
    }

    &__submit-group {
      width: 80px;
    }

    &__dropdown {
      max-height: calc(100vh - 75px);
    }

    &__control-item {
      padding: 10px;
    }

    &__control {
      padding: 0 5px;
    }

    &__switches-link {
      height: 40px;
      line-height: 40px;
      font-size: 10px;
    }

    &__search-input {
      height: 40px;
    }

    &__category {
      height: auto;
      width: 100%;
      max-height: none;

      &-inner {
        display: block;
        min-height: 0;
      }
    }

    &__content {
      &-scroll {
        height: auto;
        max-height: none;
      }
    }

    &__inner {
      height: calc(100% - 60px);
      overflow: auto;
    }

    &__list-col,
    &__sub-list-col {
      width: 100%;
      border: 0;
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
    }

    &__list {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      width: 100%;
      height: auto;
      padding: 10px 0;

      &-item {
        margin: 0;
      }
      
      &-link {
        display: block;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
      }

      &-icon {
        width: 100%;
      }

      &-text {
        width: 100%;
        text-align: center;
        font-size: 12px;
      }
    }

    &__sub-list {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;

      .main-filters__list-item {
        margin: 0;
      }

      &-item {
        margin: 0;
        max-width: 120px;
        min-width: 90px;
      }

      &-link {
        display: block;
        height: auto;
        padding: 10px;
      }

      &-img {
        width: 100%;
        height: 54px;

        img {
          margin: auto;
        }
      }

      &-icon {
        width: 100%;
      }

      &-text {
        width: 100%;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

@media(max-width: 992px) {
  .main-filters {
    height: auto;
    width: 700px;

    &__add-item ,
    &__check-item {
      max-width: 50%;
      width: 50%;

      &:before {
        display: none;
      }
    }

    &__add-item {
      border-bottom: 1px solid #E7E7E7;
    }

    &__cont {
      padding-bottom: 50px;
    }

    &__submit-group {
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% - 60px);
    }

    &__gender {
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1px solid #E7E7E7;
    }

    &__dropdown {
      max-height: calc(100vh - 175px);
    }
  }
}

@media(max-width: 768px) {
  .main-filters {
    right: 15px;
    left: 15px;
    transform: translate(0,0);
    width: auto;

    &__list {
      padding: 5px 15px;
      padding-left: 0;
    }

    &__control {
      &-item {
        padding: 10px 5px;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &__inner {
      height: calc(100% - 120px);
    }

    &__product {
      flex: 0 0 50%;
      max-width: 50%;

      &-inner {
        max-width: 90%;
      }
    }
  }

  .main-filters__check-item--mob {
    .main-filters__check-dropdown {
      left: auto;
      right: 0;
    }
  }
}

@media(max-width: 568px) {
  .main-filters {
    top: 156px;
  }
}