.page-welcome {
  .welcome {
    margin-top: -233px;
    min-height: 0;
  }

  .welcome__content {
    display: none;
  }

  .main-filters {
    margin-top: 0;
    position: fixed;
    top: 171px;

    &--fixed {
      top: 15px!important;
    }
  }
}

@media(max-width: 1200px) {
  .page-welcome .welcome {
    margin-top: -133px;
  }

  .page-welcome .main-filters {
    top: 124px;
  }
}

@media(max-width: 992px) {
  .page-welcome .main-filters {
    top: 80px;
  }

  .page-welcome .welcome {
    margin-top: -100px;
  }
}

@media(max-width: 568px) {

  .page-welcome .welcome {
    margin-top: 0;
  }
}