.partners  {
	width: 100%;
	height: 50px;
	line-height: 48px;
	margin: 30px 0;

	&__item {
		height: 40px;
		display: flex;
		white-space: nowrap;
		align-items: center;
		outline: 0;
	}
}
.partners__inner  {
  padding: 0 15px;
  display: inline-block;
  text-decoration: none;
  font-family: geneva;
  transition: 0.3s all ease;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}


