.welcome {
    min-height: 100vh;
}

.welcome__inner {
    position: relative;
    min-height: 799px;
}

.welcome__cont {
    @include size(1920px,799px);
    position: absolute;
    left:50%;
    top:0;
    @include transform(translate(-50%,0));
    background: url("#{$rootUrl}welcone-bg.svg") no-repeat center;
    -webkit-background-size:cover;
    background-size:cover;
    z-index:1;
}

.welcome__item_1 {
    z-index:2;
    left: -352px;
    top: 284px;
    @include animation(wave-from 60s infinite);

    .layer {
        @include size(911px,599px);
        background: url("#{$rootUrl}welcome-item-1.svg") no-repeat center top;
    }
}

.welcome__item_2 {
    left: 647px;
    top: 0;
    z-index:3;
    
    .layer {
        @include size(921px,532px);
        background: url("#{$rootUrl}welcome-item-2.svg") no-repeat center top;
    }
}

.welcome__item_3 {
    left: -352px;
    top: 149px;
    z-index:3;
    @include animation(wave-from 160s infinite);

    .layer {
        @include size(768px,463px);
        background: url("#{$rootUrl}welcome-item-3.svg") no-repeat center top;
    }
}

.welcome__item_4 {
    left: -112px;
    top: 470px;
    z-index:4;
    @include animation(wave-to 50s infinite);

    .layer {
        @include size(362px,288px);
        background: url("#{$rootUrl}welcome-item-4.svg") no-repeat center top;
    }
}

.welcome__item_5 {
    left: 1024px;
    top: 234px;
    z-index:5;
    @include animation(wave-from 70s infinite);

    .layer {
        @include size(435px,346px);
        background: url("#{$rootUrl}welcome-item-5.svg") no-repeat center top;
    }
}

.welcome__item_6 {
    left: 869px;
    top: 12px;
    z-index:6;
    @include animation(wave-to 80s infinite);

    .layer {
        @include size(699px,647px);
        background: url("#{$rootUrl}welcome-item-6.svg") no-repeat center top;
    }
}

.welcome__item {
    position: absolute;

    .layer {
        -webkit-background-size:cover;
        background-size:cover;
    }
}

@include keyframes(wave-from) {
    0% {
        @include transform(rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg));
    }

    100% {
        @include transform( rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg));
    }
}

@include keyframes(wave-to) {
    0% {
        @include transform( rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg));
    }

    100% {
        @include transform(rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg));

    }
}

.welcome__content {
    position: relative;
    z-index:100;
    padding: 292px 0 0;
}

.welcome__title {
    font-family: $Montserrat;
    //font-weight: 500;
    line-height: 1.47;
    font-size: 34px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.5px;

    span {
        display: block;
    }
}

@media(max-width: 1200px) {
  $size: 0.7;

  .welcome {
    min-height: 0;
  }

  .welcome__title {
    font-size: 24px;
  }

  .welcome__content {
    padding: 150px 0 0;
  }

  .welcome__inner {
    min-height: round(799px*$size);
  }

  .welcome__cont {
    @include size(round(1920px*$size),round(799px*$size));
  }

  .welcome__item_1 {
    left: round(-352px*$size);
    top: round(284px*$size);

    .layer {
      @include size(round(911px*$size),round(599px*$size));
    }
  }

  .welcome__item_2 {
    left: round(647px*$size);

    .layer {
      @include size(round(921px*$size),round(532px*$size));
    }
  }

  .welcome__item_3 {
    left: round(-352px*$size);
    top: round(149px*$size);

    .layer {
      @include size(round(768px*$size),round(463px*$size));
    }
  }

  .welcome__item_4 {
    left: round(-112px*$size);
    top: round(470px*$size);

    .layer {
      @include size(round(362px*$size),round(288px*$size));
    }
  }

  .welcome__item_5 {
    left: round(1024px*$size);
    top: round(234px*$size);

    .layer {
      @include size(round(435px*$size),round(346px*$size));
    }
  }

  .welcome__item_6 {
    left: round(869px*$size);
    top: round(12px*$size);

    .layer {
      @include size(round(699px*$size),round(647px*$size));
    }
  }
}

@media(max-width: 568px) {
  $size: 0.5;

  .welcome__title {
    font-size: 16px;
  }

  .welcome__content {
    padding: 90px 0 0;
  }

  .welcome__inner {
    min-height: round(799px*$size);
  }

  .welcome__cont {
    @include size(round(1920px*$size),round(799px*$size));
  }

  .welcome__item_1 {
    left: round(-352px*$size);
    top: round(284px*$size);

    .layer {
      @include size(round(911px*$size),round(599px*$size));
    }
  }

  .welcome__item_2 {
    left: round(647px*$size);

    .layer {
      @include size(round(921px*$size),round(532px*$size));
    }
  }

  .welcome__item_3 {
    left: round(-352px*$size);
    top: round(149px*$size);

    .layer {
      @include size(round(768px*$size),round(463px*$size));
    }
  }

  .welcome__item_4 {
    left: round(-112px*$size);
    top: round(470px*$size);

    .layer {
      @include size(round(362px*$size),round(288px*$size));
    }
  }

  .welcome__item_5 {
    left: round(1024px*$size);
    top: round(234px*$size);

    .layer {
      @include size(round(435px*$size),round(346px*$size));
    }
  }

  .welcome__item_6 {
    left: round(869px*$size);
    top: round(12px*$size);

    .layer {
      @include size(round(699px*$size),round(647px*$size));
    }
  }
}

@media(max-width: 360px) {
  .welcome__title {
    font-size: 14px;
  }
}